* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
   --color1: #1d3557;
  }
  
  header,footer{
    background-color: var(--color1);
  }
  #buttons button{
    min-width: 45%;
  }
  #output{
  min-height: 270px;
  font-size: 20px;
  }
  #org-string{
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    font-size: 20px;
  }
  .buttons button {
    min-width: 45%;
  }
  @media only screen and (max-width: 550px) {
    .buttons button {
      min-width: 70%;
    }
    #org-string,header, footer{
      background-color: rgb#1d3557;
    }  
    #org-string p {
      color: rgb(255, 255, 255);
      height: 100px;
   
    }  
#row3, #output {
  background-color: rgb(255, 245, 245);
  color: white;
}
  }